#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    justify-content: center;
    align-items: center;


}

.piece {
  max-width: 100%; 
  height: auto;  
  
}

a {
    font-family: 'Courier New', Courier, monospace;

    color: green;

}


.black-square{

    width: 60px;
    height: 60px;
    background-color:#8376BA;
}


.white-square{
    
    width: 60px;
    height: 60px;
    background-color: #EBECD0;

 

}