

#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    justify-content: center;
    align-items: center;
    user-select: none;


}

.piece {
  max-width: 100%; 
  height: auto; 
  cursor: grab;
  user-select: none;
  
  
}

.piece.dragging {
    cursor: grabbing;
    opacity: 0.6;
}

a {
    font-family: 'Courier New', Courier, monospace;

    color: green;

}


.black-square{

    width: 60px;
    height: 60px;
    background-color:#B58863;
}


.white-square{
    
    width: 60px;
    height: 60px;
    background-color: #F0D9B5;
 

}

.drop-target {
    outline: 3px solid #6aa84f;
    outline-offset: -3px;
}